[Unit]
Description=TBNL 2003 docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -p 8080:80 --name tbnl_2003 tbnl_2003
ExecStop=/usr/bin/docker stop -t 10 tbnl_2003
ExecStopPost=/usr/bin/docker rm -f tbnl_2003

[Install]
WantedBy=default.target