tibobeijen.nl{% if not caddy_lets_encrypt %}:80{% endif %} {
  redir / {scheme}://{{ caddy_site_domain }}{uri} 302
}
{{ caddy_site_domain }}{% if not caddy_lets_encrypt %}:80{% endif %} {
  proxy /anno2003 localhost:8080 {
  }
  gzip
  root /var/html/tbnl/public
{% if caddy_lets_encrypt %}  tls {{ caddy_email }}
{% endif %}
  git {
    repo github.com/TBeijen/tbnl-hugo 
    hook /webhook {{ webhook_secret }}
    hook_type github
    path ../source
    branch master
    then bash -c "git submodule update --init --recursive"
    then hugo -b http{% if caddy_lets_encrypt %}s{% endif %}://{{ caddy_site_domain }}/ --destination=/var/html/tbnl/public
    then {{ caddy_home }}/pushover "Site pulled from GitHub"
  }
}
