# redirect no subdomain to www
#
tibobeijen.nl{% if not caddy_lets_encrypt %}:80{% endif %} {
  redir / {scheme}://{{ caddy_site_domain }}{uri} 302
}

# handle /anno2003/
#
{{ caddy_site_domain }}{% if not caddy_lets_encrypt %}:80{% endif %}/anno2003/ {
  proxy / localhost:8080 {
    transparent
  }
}

# main site
#
{{ caddy_site_domain }}{% if not caddy_lets_encrypt %}:80{% endif %} {
  # make sure /anno2003/ always has trailing slash
  redir /anno2003 /anno2003/ 302
  gzip
  root /var/html/tbnl/public
{% if caddy_lets_encrypt %}  tls {{ caddy_email }}
{% endif %}
  errors {
  	404 404.html
  }
  git {
    repo github.com/TBeijen/tbnl-hugo 
    hook /webhook {{ webhook_secret }}
    hook_type github
    path ../source
    branch master
    then bash -c "git submodule update --init --recursive"
    then hugo -b http{% if caddy_lets_encrypt %}s{% endif %}://{{ caddy_site_domain }}/ --destination=/var/html/tbnl/public
    then {{ caddy_home }}/pushover "Site updated"
  }
}
